<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ibiology</display-name>
	<filter>
		<description>
		</description>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>cn.org.ibiology.filter.EncodingFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>GZipFilter</display-name>
		<filter-name>GZipFilter</filter-name>
		<filter-class>cn.org.ibiology.filter.GZipServletFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>RightCheck</display-name>
		<filter-name>RightCheck</filter-name>
		<filter-class>cn.org.ibiology.filter.RightCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RightCheck</filter-name>
		<url-pattern>/manage/*</url-pattern>
	</filter-mapping>



	<servlet>
		<description>
		</description>
		<display-name>IbiologyImageService</display-name>
		<servlet-name>IbiologyImageService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyImageService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelcomeService</display-name>
		<servlet-name>WelcomeService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyWelcomeService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContactService</display-name>
		<servlet-name>ContactService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyContactService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IndexService</display-name>
		<servlet-name>IndexService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyIndexService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FAQService</display-name>
		<servlet-name>FAQService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyFAQService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginService</display-name>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyLoginService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutService</display-name>
		<servlet-name>LogoutService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyLogoutService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserFeedbackService</display-name>
		<servlet-name>UserFeedbackService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyUserFeedbackService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IbiologyLinksService</display-name>
		<servlet-name>IbiologyLinksService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyLinksService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IbiologyArticleService</display-name>
		<servlet-name>IbiologyArticleService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyArticleService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IbiologySpeciesService</display-name>
		<servlet-name>IbiologySpeciesService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologySpeciesService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IbiologyNewsService</display-name>
		<servlet-name>IbiologyNewsService</servlet-name>
		<servlet-class>cn.org.ibiology.service.IbiologyNewsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeService</servlet-name>
		<url-pattern>/WelcomeService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactService</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexService</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FAQService</servlet-name>
		<url-pattern>/FAQ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutService</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IbiologyImageService</servlet-name>
		<url-pattern>/ImageService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserFeedbackService</servlet-name>
		<url-pattern>/UserFeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IbiologyLinksService</servlet-name>
		<url-pattern>/LinksService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IbiologyArticleService</servlet-name>
		<url-pattern>/article/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IbiologySpeciesService</servlet-name>
		<url-pattern>/species/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IbiologyNewsService</servlet-name>
		<url-pattern>/newsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IbiologyNewsService</servlet-name>
		<url-pattern>/news/*</url-pattern>
	</servlet-mapping>



	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>


	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>
